body {
    margin: 0em;
    padding: 0em;
}
.body {
    width: 100%;
    margin: 0;
    padding: 0;
}
.header-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
     borer: 1px solid blue;
}
.header-section {
    display: flex;
    justify-content: space-between;
    borer: 1px solid greenyellow;
    margin-bottom: .4em;
}
.flex-start {
    display: flex;
    boder: 1px solid black;
    align-items: center;
    gap: .5em;
}
.Address {
    display: flex;
    align-items: center;
    gap: .5em;
}
.colors {
    height: 20px;
    border-radius: 45px;
}
.hobbies {
    border: none;
    border-radius: 5px;
    padding: .2em;
}
.flex-end {
    display: flex;
    align-items: center;
    borer: 1px solid red;
    gap: 1em;
}
.upfeed{
    display: flex;
}
.upfeed span {
    bordr: 1px solid gold;
    padding: .4em .6em;
} 
.upfeed .upgrade {
    background-color: black;
    color: white;
    border-radius: 5px;
}
.upfeed .feedback {
    border: 1px solid lightgrey;
    border-radius: 5px;
    opacity: 0.7;
}
.upfeed .feedback:hover {
    opacity: 1;
    background-color: rgb(235, 232, 232);
}
.help {
    display: flex;
}
.help a {
    borer:1px solid gold;
    padding: .4em .6em;
    color: black;
    text-decoration: none;
    opacity: 0.7;
}
.help a:hover {
    opacity: 1;
}
.not-acc {
    display: flex;
    align-items: center;
}
.not-acc div {
    bordr: 1px solid gold;
    padding: 0 .2em;
}
.notification-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;
    border: 2px solid rgb(245, 242, 242);
    border-radius: 50px;
}
.notification-logo:hover {
background-color: rgb(228, 228, 228);
}
.account-logo {
    bordr: 2px solid black;
    height: 30px;
    border-radius: 50px;
}
.nav-section{
    display: flex;
    boder: 1px solid green;
    position: fied;
}
.nav-section a {
    padding: .5em;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}
.nav-section .common {
    opacity: 0.7;
}
.nav-section .overview {
    text-decoration: underline;
}
.nav-section .common:hover {
    opacity: 1;
}
.nav-section a:hover {
    background-color: rgb(243, 241, 241);
    transition: .5s ease;
    opacity: 1;
}
.nav-section .overview {
    opacity: 1;
}

.container {
    /* border: 5px solid brown; */
    box-sizing: content-box;
    padding-top: 1em;
    padding-bottom: 15em;
    background-color: rgb(252, 250, 250); 
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    padding:0 4em;
}
.section-1 {
    display: flex; 
    padding: 1.5em 0 2em 0;
}
.search {
    display: flex;
    flex: 20;
    border: 1px solid gray;
    opacity: 0.6;
    border-radius: 5px;
    height: 40px;
    align-items: center;
    margin-right: .5em;
    padding: 0 .6em;
    background-color: white;
}
.search:hover {
    opacity: 1;
}
.search:active{
    box-shadow: 1px 1px 2px  black;
}
.search-icon {
    margin-right: .6em;
}
.inputt {
    border: none;
    outline: none;
}
.hor-vert {
    display: flex;
    flex: 2;
    align-items: center;
    margin-right: .5em;
    border: 1px solid lightgray;
    border-radius: 5px;
    justify-content: space-around;
    background-color: white;
}
.grip {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
}
.list {
    opacity: 0.6;
}
.list:hover {
    opacity: 1;
}
.add-new {
    display: flex;
    flex-direction: column;
    flex: 3;
    align-items: center;
    background-color: black;
    color: white;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.add-new button {
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    width: 100px;
    margin-left: 0;
}
.add-new a {
    display: flex;
    color: black;
    text-decoration: none;
    padding: 10px 15px; 
}
.add-new .content {
    border: 1px solid lightgrey;
    border-radius: 5px;
    position: absolute;
    min-width: 130px;
    bottom: -160px;
    display: none;
}
.add-new:hover{
    opacity: 0.8;
    transition :ease-in-out;
}
.add-new:hover .content{
    display: block;
}
.section-2 {
    display: grid;
    column-gap: 10px;
    grid-template-columns:1fr 1fr 1fr;
    padding-bottom: 15em;
}
/* @media (min-width:701px) and (max-width:1010px) {

    .section-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 2em;
        column-gap: 1.5em;
    }
}
@media (max-width:700px) {
    .section-2{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 2em;
        row-gap: 1.5em;
    }
}  */
.part-1 {
    border: 1px solid lightgray;
    padding:1.5em 1.5em 0 1.5em ;
    border-radius: 5px;
    min-width: 260px;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.google-clone {
    display: flex;
    align-items: center;
    margin-bottom: .5em;
    justify-content: spce-between;
    /* border: 1px solid green;  */
}
.diagram {
    display: flex;
    flex: 1;
    padding-left: .5em;
    /* border:2px solid lightgray; */
    padding: 7px;
    justify-content: start;
    align-items: center;
}
.names {
    display: flex;
    flex-direction: column;
    flex: 9;
    /* border: 1px solid yellow; */ 
}
.address{
    display: flex;
    border: 1px solid red;
}
.other-option {
    display: flex;
    align-items: center;
    flex: 2;
    /* border: 1px solid blueviolet; */
    justify-content: space-around;
}
.insight {
    position: relative;
    boder: 2px solid lightgray;
    padding: .55em;
    border-radius: 50px;
}
.tooltip {
    display: flex;
    width: 250px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 7px;
    position: absolute;
    top: -55px;
    right: -120px;
    z-index: 500;
    opacity: 0;
    pointer-events: none;
}
.insight:hover .tooltip {
    opacity: 1;
}
.ellipsis:hover {
    background-color: rgb(230, 227, 227);
    padding: .5em;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.commit {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}
.paragraph p{
    margin: 2em 0 0 0;
}
.arrow-up{ 
    position: absolute;
    top: -7px;
    right: -7px; 
    opacity:0; 
    transition: 0.3s; 
    background-color: black;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.part-1:hover .arrow-up{
    opacity: 1;
}
.part-2 {
    border: 1px solid lightgrey;
    padding: 2em;
    border-radius:5px;
    min-width: 260px;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    
}
.footer {
    display: flex;
    flex-direction: column;
     bordr: 1px solid magenta;
     /* padding: 1em 3em 2.5em 3em; */
     padding: 0em 1.5em

    
}
.line-1 {
    display: flex;
    /* justify-content: space-between; */
    /* border: 1px solid blueviolet; */
    margin:1.5em 0em;
}
.copyright {
    display: flex;
    align-items: center;
    padding-right: 50px;
    flex: 10;
}
.copyright span {
    margin-right: 10px;
}
.copy {
    opacity: 0.7;
}
.circle {
    color: rgb(16, 16, 245);
}
.command-menu {
    display: flex;
    flex: 3;
    /* justify-content: center; */ 
}
.pt-1 {
    display: flex;
    /* border: 1px solid rgb(65, 65, 224); */
    align-items: center;
    justify-content: space-between;
    flex: 2;
}
.pt-1:hover{
    background-color: rgb(241, 240, 240);
    border-radius: 5px;
}
.command {
    opacity: 0.7;
}
.dark_mode {
    opacity: 0.7;
}
.dark_mode:hover {
    opacity: 1;
}
.sunny {
    opacity: 0.7;
}
.sunny:hover {
    opacity: 1;
}
.desktop_windows{
    background-color: rgb(236, 236, 236);
    padding: .2;
}
.system {
    color: blue;
}
.keys {
    /* border: 1px solid red; */
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: space-evenly;
}
.key {
    border: 1px solid lightgrey;
}
.k {
    border: 1px solid lightgray;
    height: 30px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image {
    height: 30px;
}
.pt-2 {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}
.line-2 {
    display: flex;
    /* border: 1px solid red; */
    marin: 0 em;
}
.left {
    display: flex;
    flex: 1;
    /* border: 1px solid blue; */
    justify-content: start;
    align-items: center;
}
.left div {
    opacity: 0.7;
}
.left div:hover{
    opacity: 1;
}
.github {
    margin-right: 1.5em;
    /* border:1px solid magenta; */
}
.middle {
    display: flex;
    flex: 8;
    /* border : 1px solid yellow; */
    justify-content: space-between;
}
.middle a {
    text-decoration: none;
    color: black;
    opacity: 0.7;
}
.middle a:hover {
    opacity: 1;
}
.right {
    display: flex;
    flex: 1;
    justify-content: end;
    position: relative;
    /* border : 1px solid green; */
}
.right .legal-sub {
    position: absolute;
    display: block;
    top: -500px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 220px;
    opacity: 0;
    pointer-events: none;
}
.right:hover .legal-sub{
    opacity: 1;
}
.legal-sub a{
    display: block;
    padding: .6em .8em;
    text-decoration: none;
    color: black;
}
.legal-sub a:hover {
    background-color: lightgrey;
}
.arrow-up{ 
    position: absolute;
    top: -7px;
    right: -7px; 
    opacity:0; 
    transition: 0.3s; 
    background-color: black;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.part-2:hover .arrow-up{
    opacity: 1;
}
.right button{
    border: none;
    background-color: white;
}
.right button a{
    color: black;
    text-decoration: none;
    opacity: 0.7;
}
.right button a:hover {
    opacity:1;
}
@media (min-width:701px) and (max-width:1023px){
    .container{
        width: 102%;
        padding: 0em 1em;
    }
    .flex-start{
    }
    .flex-end{
          
    } */
    .upfeed {
        margin: .8em;
    }
    .upfeed span {
        margin: .8em;
    }
    .My-name{
        width: 80px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    } 
    .hobbies{
        display: none;
    }
    .not-acc{
        display: flex;
    }
    .section-1 {
        display: flex;
    }
    .search{
        flex: 10;
    }
    .hor-vert{
        flex: 1.2;
    }
    .add-new {
        flex: 1.8;
    }
    .section-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.5em;
    }
    .diagram {
        padding-left: .2em;
    }
    .names {
        display: flex;
        flex: 7;
    }
    .paragraph {
        text-overflow: ellipsis;
    }
    .search {
        display: flex;
        flex: 9;
    }
    .pt-1 {
        visibility: hidden;
    }
    .address{
        text-overflow: ellipsis;
    }
}
@media(min-width:400px) and (max-width:700px) {

    body{
       min-width: 100%;
    }
    .header-container{
        width: 125%;
        padding: 0 1em;
    }
    .header-section{
    }
    .triangle {
        display: none;
    }
    .forward-slash{
        display: none;
    }
    .My-name{
        font-size: 1.5rem;
    }
    .hobbies{
        display: none;
    }
    .upfeed{
        display: none;
    }
    .help{
        display: none;
    }
    .nav-section{
        overflow-x: scroll;
        font-size: 1.2rem;
        padding: 16px 12px;
    }
    .container{
        width: 117%;
        margin-left: .8em;
        padding:0 2em;
    }
    .search{
        flex: 25;
    }
    .hor-vert{
        flex: 7;
    }
    .add-new{
        flex: 1;
    }
    .section-2{
        dislay: grid;
        grid-template-columns: 1fr;
        /* margin: 0 2em; */
        row-gap: 1.5em;
        padding-bottom: 3em;
    }
    .part-1{
        padding: 1.5em;
        font-size: 1.3rem;
    }
    .part-2{
        padding: 1.5em;
        font-size: 1.3rem;
    }
    .footer{
        font-size: 1.3rem;
    }
    .command-menu{
        display: none;
    }
    .line-2{
        margin-bottom: 16px;
        display: block;
    }
    .middle{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10em;
    }
    .right{
        display: block;
    }
    .right button{
        font-size: 1.3rem;
    }
    /* .names{
        font-size: 1.4rem;
    } */

}

